body {
    font-family: Bahnschrift, sans-serif;
    background-color: #00001a;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Change from row (default) to column */
}

/* Style for the chart container */
#candleChart {
    max-width: 800px; /* Increased from 600px */
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style for the dropdown and input elements */
#tokenSelect,
#refreshRateInput {
    background-color: #10113E;
    color: #FFFFFF;
    border: 1px solid #844DE2;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width:  150px; /* Adjust width for smaller devices */
    box-sizing: border-box;
}


/* General layout adjustments */
.main-container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #10113E;
    border-radius: 80px;
    border: 1px solid #844DE2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* New styles for the chart and market cap container */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure items are stacked vertically */
    margin-bottom: 20px; /* Add space below the chart */
}

/* Style for the market cap display */
#marketCap {
    background-color: #10113E;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 20px; /* Adjust spacing between market cap and chart */
    border: 1px solid #844DE2;
    border-radius: 4px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #tokenSelect,

    .main-container {
        width: 95%;
    }
}